#overviewText {
  margin: 70px 0 10px 0;
  padding: 0 0 0 10px; }

.table {
  display: flex !important;
  flex-direction: column;
  max-height: 67vh;
  overflow: auto;
  width: 100%;
  border-bottom: 1px solid rgba(134, 134, 134, 0.185);
  align-items: center; }

thead, tbody {
  width: 100%; }

.fas.fa-sort-up, .fas.fa-sort-down {
  padding-left: 4px; }

.fas.fa-sort-up {
  position: relative;
  top: 4px; }

.table-checkbox, .large-table-checkbox {
  width: 2em;
  margin-left: 35px; }

td.large-table-checkbox {
  padding-top: 1.2em !important; }

.table-type, .large-table-type {
  width: 5em; }

td.large-table-type {
  padding-right: 0px !important;
  padding-left: 20px !important; }

td.table-type > i.fa-2x {
  padding-top: 0.25em !important; }

i.fas.fa-sync, i.fas.fa-exclamation-circle, i.fas.fa-dollar-sign {
  padding-left: 0.8em;
  padding-right: 1em; }

i.fas.fa-sync.fa-2x, i.fas.fa-exclamation-circle.fa-2x {
  padding-left: 0;
  padding-top: 8px; }

i.fas.fa-dollar-sign.fa-2x {
  padding-left: 0.2em; }

i {
  color: #272B4A; }

.table-name, .large-table-name {
  width: 78vw; }

td.large-table-name {
  padding-left: 0; }

.table-status, .large-table-status {
  width: 7em;
  font-size: 0.9rem; }

td.large-table-status {
  padding-top: 1.4em !important; }

.table-status-waiting > i {
  color: #E9E7E1; }

.table-status-active > i {
  color: #FEC77C; }

.table-display, .large-table-display {
  width: 2vw; }

th.large-table-display {
  visibility: hidden;
  width: 23px; }

td.large-table-display {
  padding-top: 1.3em !important;
  cursor: pointer; }

a {
  color: #4c4c4c !important;
  text-decoration: none; }

a:hover {
  color: #3d3d3d !important; }

.table-name-description {
  opacity: 0.9;
  font-style: italic; }

.table-name-details {
  opacity: 0.7; }

/* width */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
  margin-top: 3px;
  margin-bottom: 3px; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(58, 58, 58, 0.384); }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(58, 58, 58, 0.63); }

/* Bulma Utilities */
.table:not(:last-child), .table-container:not(:last-child) {
  margin-bottom: 1.5rem; }

.table {
  background-color: white;
  color: #363636; }
  .table td,
  .table th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top; }
    .table td.is-white,
    .table th.is-white {
      background-color: white;
      border-color: white;
      color: #0a0a0a; }
    .table td.is-black,
    .table th.is-black {
      background-color: #0a0a0a;
      border-color: #0a0a0a;
      color: white; }
    .table td.is-light,
    .table th.is-light {
      background-color: whitesmoke;
      border-color: whitesmoke;
      color: rgba(0, 0, 0, 0.7); }
    .table td.is-dark,
    .table th.is-dark {
      background-color: #363636;
      border-color: #363636;
      color: #fff; }
    .table td.is-primary,
    .table th.is-primary {
      background-color: #00d1b2;
      border-color: #00d1b2;
      color: #fff; }
    .table td.is-link,
    .table th.is-link {
      background-color: #3273dc;
      border-color: #3273dc;
      color: #fff; }
    .table td.is-info,
    .table th.is-info {
      background-color: #3298dc;
      border-color: #3298dc;
      color: #fff; }
    .table td.is-success,
    .table th.is-success {
      background-color: #48c774;
      border-color: #48c774;
      color: #fff; }
    .table td.is-warning,
    .table th.is-warning {
      background-color: #ffdd57;
      border-color: #ffdd57;
      color: rgba(0, 0, 0, 0.7); }
    .table td.is-danger,
    .table th.is-danger {
      background-color: #f14668;
      border-color: #f14668;
      color: #fff; }
    .table td.is-narrow,
    .table th.is-narrow {
      white-space: nowrap;
      width: 1%; }
    .table td.is-selected,
    .table th.is-selected {
      background-color: #00d1b2;
      color: #fff; }
      .table td.is-selected a,
      .table td.is-selected strong,
      .table th.is-selected a,
      .table th.is-selected strong {
        color: currentColor; }
    .table td.is-vcentered,
    .table th.is-vcentered {
      vertical-align: middle; }
  .table th {
    color: #363636; }
    .table th:not([align]) {
      text-align: inherit; }
  .table tr.is-selected {
    background-color: #00d1b2;
    color: #fff; }
    .table tr.is-selected a,
    .table tr.is-selected strong {
      color: currentColor; }
    .table tr.is-selected td,
    .table tr.is-selected th {
      border-color: #fff;
      color: currentColor; }
  .table thead {
    background-color: transparent; }
    .table thead td,
    .table thead th {
      border-width: 0 0 2px;
      color: #363636; }
  .table tfoot {
    background-color: transparent; }
    .table tfoot td,
    .table tfoot th {
      border-width: 2px 0 0;
      color: #363636; }
  .table tbody {
    background-color: transparent; }
    .table tbody tr:last-child td,
    .table tbody tr:last-child th {
      border-bottom-width: 0; }
  .table.is-bordered td,
  .table.is-bordered th {
    border-width: 1px; }
  .table.is-bordered tr:last-child td,
  .table.is-bordered tr:last-child th {
    border-bottom-width: 1px; }
  .table.is-fullwidth {
    width: 100%; }
  .table.is-hoverable tbody tr:not(.is-selected):hover {
    background-color: #fafafa; }
  .table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
    background-color: #fafafa; }
    .table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even) {
      background-color: whitesmoke; }
  .table.is-narrow td,
  .table.is-narrow th {
    padding: 0.25em 0.5em; }
  .table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: #fafafa; }

.table-container {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%; }
