.title {
  color: #363636;
}

.column {
  border-bottom: 0.2px groove;
}


.container {
  margin-left: 550px;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: blue;
  justify-content: center;
  width: 230px;
  height: 290px;
  border: 1px dashed blue;
  cursor: pointer;
}

.button {
  margin-top: 22px;
  color: white;
  background-color: #272B4A;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.Uploading input[type='file']{
  display: none;
}
.btn-download{
  border: 1px solid #272b4a;
  background: #fff;
  color: #272b4a;
  margin: 7px 40px;
  border-radius: 0px;
}
.button.button.is-white {
  margin-top: 5px;
}